{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Layout with Banner, Menu, and Content</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/16d024a0be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <span style="float: right;">
            {% if user.is_authenticated %}
               {{ user.username}}
               <form action="{% url 'logout' %}?next=/" method="post">
                   <button type="submit">logout</button>
                   {% csrf_token %}
               </form>
            {% else %}
               Not Logged in
               <a href="{% url 'login' %}?next=/">login</a>
            {% endif %}
        </span>

        <div class="banner">
            <img src="{% static 'banner.jpg' %}" height="120"/>
        </div>
    </header>

    <div class="container">
        <nav class="sidebar">

            <!-- ADD LOGO HERE -->
            <div class="sidebar-logo">
                <img src="{% static 'logo.png' %}" alt="Our Logo"/>
            </div>
            <!-- END LOGO -->

            <ul>
                {% block sidenav %}

                <!-- this is brought over from the other.htmls -->
                   {% for item in item_list %}
                      <li>
                        <a href="{{ item.link }}"> <i class="{{ item.icon_class }}"></i> {{ item.item }} </a>
                      </li>
                   {% endfor %}
                {% endblock sidenav %}
            </ul>
        </nav>

        <main class="content">
            {% block content %}
               <h1>Main Content</h1>
            {% endblock content %}
        </main>
    </div>

    <footer>
        <p>&copy; 2025 My Web Layout</p>
    </footer>
</body>
</html>