{% extends "base.html" %}
{% load static %}

<!-- Remove every page dealing with the sidenav independently -->

{% block content %}
   <h1>Display Books</h1>
   <table border="2" >
      <tr>
          <th>
              Book Name
          </th>
          <th>
              Book Price
          </th>
          <th>
              User Name
          </th>
          <th>
              Rating
          </th>
          <th>

          </th>
      </tr>
   {% for book in books %}
       <tr>
         <td>
        <a href="{{ book.name }}">  {{ book.name }} </a>
         </td>
         <td>
            {{ book.price }}
         </td>
          <td>
            {{ book.username }}
         </td>
           <td>
               {{ book.rate}}
           </td>
           <td>
                <form action="{% url 'add_to_cart' book.id %}" method="post" style="margin:0">
                {% csrf_token %}
                <button type="submit">Add to cart</button>
            </form>
    </td>
      </tr>
   {% endfor %}
   </table>
{% endblock content %}