{% extends "base.html" %}
{% load static %}

{% block content %}
   <h1>My Books</h1>
   <table border="2">
      <tr>
          <th>Book Name</th>
          <th>Book Price</th>
          <th>Purchase Date</th>
          <th>Your Rating</th>
          <th>Actions</th>
      </tr>
   {% for owned in owned_books %}
       <tr>
         <td>
           <a href="{% url 'owned_book_detail' owned.book.id %}">{{ owned.book.name }}</a>
         </td>
         <td>
           ${{ owned.book.price }}
         </td>
         <td>
           {{ owned.purchase_date|date:"M d, Y" }}
         </td>
         <td>
           {% if owned.rating %}
             {{ owned.rating }}
             {% else %}
             <i>Not rated</i>
             {% endif %}
         </td>
         <td>
           <a class="btn btn-sm btn-outline-info" href="{% url 'owned_book_detail' owned.book.id %}">View Details</a>
         </td>
      </tr>
   {% empty %}
      <tr><td colspan="5">You haven't purchased any books yet.</td></tr>
   {% endfor %}
   </table>
{% endblock content %}
